USE [master]
GO
/****** Object:  Database [bolnica]    Script Date: 9/17/2026 3:55:50 AM ******/
CREATE DATABASE [bolnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bolnica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bolnica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bolnica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bolnica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bolnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bolnica]
GO
/****** Object:  Table [dbo].[doktor]    Script Date: 9/17/2026 3:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doktor](
	[doktor_id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[specijalizacija] [nvarchar](100) NOT NULL,
	[odeljenje_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[doktor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lek]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lek](
	[lek_id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[cena_po_jedinici] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lek_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicinski_karton]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicinski_karton](
	[karton_id] [int] IDENTITY(1,1) NOT NULL,
	[pacijent_id] [int] NOT NULL,
	[dijagnoza] [nvarchar](255) NOT NULL,
	[terapija] [nvarchar](max) NULL,
	[napomena] [nvarchar](255) NULL,
	[datum_upisa] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[karton_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odeljenje]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odeljenje](
	[odeljenje_id] [int] IDENTITY(1,1) NOT NULL,
	[naziv_odeljenja] [nvarchar](100) NOT NULL,
	[sprat] [int] NOT NULL,
	[sef_doktor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[odeljenje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[osiguranje]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[osiguranje](
	[osiguranje_id] [int] IDENTITY(1,1) NOT NULL,
	[pacijent_id] [int] NOT NULL,
	[broj_polise] [varchar](20) NOT NULL,
	[naziv_fonda] [nvarchar](100) NOT NULL,
	[procenat_pokrica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[osiguranje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[pacijent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[broj_polise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pacijenti]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacijenti](
	[pacijent_id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[jmbg] [varchar](13) NOT NULL,
	[lbo] [varchar](11) NOT NULL,
	[datum_rodjenja] [date] NOT NULL,
	[kontakt_telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[pacijent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[jmbg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[lbo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pregled]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregled](
	[pregled_id] [int] IDENTITY(1,1) NOT NULL,
	[pacijent_id] [int] NOT NULL,
	[doktor_id] [int] NOT NULL,
	[datum_vreme] [datetime] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pregled_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recept]    Script Date: 9/17/2026 3:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recept](
	[recept_id] [int] IDENTITY(1,1) NOT NULL,
	[doktor_id] [int] NOT NULL,
	[pacijent_id] [int] NOT NULL,
	[lek_id] [int] NOT NULL,
	[kolicina] [int] NOT NULL,
	[datum_izdavanja] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[recept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[medicinski_karton] ADD  DEFAULT (getdate()) FOR [datum_upisa]
GO
ALTER TABLE [dbo].[recept] ADD  DEFAULT (getdate()) FOR [datum_izdavanja]
GO
ALTER TABLE [dbo].[doktor]  WITH CHECK ADD  CONSTRAINT [FK_doktor_odeljenje] FOREIGN KEY([odeljenje_id])
REFERENCES [dbo].[odeljenje] ([odeljenje_id])
GO
ALTER TABLE [dbo].[doktor] CHECK CONSTRAINT [FK_doktor_odeljenje]
GO
ALTER TABLE [dbo].[medicinski_karton]  WITH CHECK ADD  CONSTRAINT [FK_karton_pacijent] FOREIGN KEY([pacijent_id])
REFERENCES [dbo].[pacijenti] ([pacijent_id])
GO
ALTER TABLE [dbo].[medicinski_karton] CHECK CONSTRAINT [FK_karton_pacijent]
GO
ALTER TABLE [dbo].[odeljenje]  WITH CHECK ADD  CONSTRAINT [FK_odeljenje_sef] FOREIGN KEY([sef_doktor_id])
REFERENCES [dbo].[doktor] ([doktor_id])
GO
ALTER TABLE [dbo].[odeljenje] CHECK CONSTRAINT [FK_odeljenje_sef]
GO
ALTER TABLE [dbo].[osiguranje]  WITH CHECK ADD  CONSTRAINT [FK_osiguranje_pacijent] FOREIGN KEY([pacijent_id])
REFERENCES [dbo].[pacijenti] ([pacijent_id])
GO
ALTER TABLE [dbo].[osiguranje] CHECK CONSTRAINT [FK_osiguranje_pacijent]
GO
ALTER TABLE [dbo].[pregled]  WITH CHECK ADD  CONSTRAINT [FK_pregled_doktor] FOREIGN KEY([doktor_id])
REFERENCES [dbo].[doktor] ([doktor_id])
GO
ALTER TABLE [dbo].[pregled] CHECK CONSTRAINT [FK_pregled_doktor]
GO
ALTER TABLE [dbo].[pregled]  WITH CHECK ADD  CONSTRAINT [FK_pregled_pacijent] FOREIGN KEY([pacijent_id])
REFERENCES [dbo].[pacijenti] ([pacijent_id])
GO
ALTER TABLE [dbo].[pregled] CHECK CONSTRAINT [FK_pregled_pacijent]
GO
ALTER TABLE [dbo].[recept]  WITH CHECK ADD  CONSTRAINT [FK_recept_doktor] FOREIGN KEY([doktor_id])
REFERENCES [dbo].[doktor] ([doktor_id])
GO
ALTER TABLE [dbo].[recept] CHECK CONSTRAINT [FK_recept_doktor]
GO
ALTER TABLE [dbo].[recept]  WITH CHECK ADD  CONSTRAINT [FK_recept_lek] FOREIGN KEY([lek_id])
REFERENCES [dbo].[lek] ([lek_id])
GO
ALTER TABLE [dbo].[recept] CHECK CONSTRAINT [FK_recept_lek]
GO
ALTER TABLE [dbo].[recept]  WITH CHECK ADD  CONSTRAINT [FK_recept_pacijent] FOREIGN KEY([pacijent_id])
REFERENCES [dbo].[pacijenti] ([pacijent_id])
GO
ALTER TABLE [dbo].[recept] CHECK CONSTRAINT [FK_recept_pacijent]
GO
USE [master]
GO
